<mat-list>
  @for(routeMeta of routeMetas; track routeMeta.id) {
    <a [routerLink]="[`/route/${routeMeta.id}`]" (click)="dismiss()" mat-list-item>
      <svg matListItemAvatar width="100" height="100" xmlns="http://www.w3.org/2000/svg">
        <rect width="100" height="100" [style]="'fill:' + getColor(routeMeta)" />
      </svg>
      <h3 matListItemTitle>{{ routeMeta.name }}</h3>
      <div matListItemLine>
         @if(routeMeta.distance_m){
          Distance: {{ routeMeta.distance_m  / 1000 }} km
        }
        @if(routeMeta.ascent_m && routeMeta.descent_m){
          Elevation: {{ routeMeta.ascent_m }} / {{ routeMeta.descent_m }} m
        }
        Source: {{ routeMeta.source | titlecase }}
        @if(routeMeta.website ){
          Website: {{ routeMeta.website }}
        }
        @if(routeMeta.description){
          Description: {{ routeMeta.description }}
        }
      </div>
    </a>
  }
</mat-list>
