<div class="container">
    <mat-toolbar>
        <button (click)="back()" matIconButton>
            <mat-icon>arrow_backward</mat-icon>
        </button>
        <span>{{ routeMeta?.name }}</span>
    </mat-toolbar>
    <app-viewer [enableClick]="false"></app-viewer>
    <mat-card class="example-card" appearance="outlined">
        <mat-card-content>
            <mat-toolbar>
                <span>Route Information</span>
                <div class="spacer"></div>
                <button matIconButton disabled>
                    <mat-icon>share</mat-icon>
                </button>
                <button (click)="download()" matIconButton>
                    <mat-icon>download</mat-icon>
                </button>
            </mat-toolbar>
            @if(routeMeta?.distance_m){
            Distance: {{ (routeMeta?.distance_m ?? 0) / 1000 }} km
            }
            @if(routeMeta?.ascent_m && routeMeta?.descent_m){
            Elevation: {{ routeMeta?.ascent_m }} / {{ routeMeta?.descent_m }} m
            }
            @if(routeMeta?.website ){
            Website: {{ routeMeta?.website }}
            }
            @if(routeMeta?.description){
            Description: {{ routeMeta?.description }}
            }
        </mat-card-content>
    </mat-card>
</div>