<div class="container">
    <mat-toolbar>
        <button (click)="back()" matIconButton>
            <mat-icon>arrow_backward</mat-icon>
        </button>
        <span id="title">{{ routeMeta?.name }}</span>
    </mat-toolbar>
    <app-viewer [enableClick]="false"></app-viewer>
    <mat-card class="route-info-card" appearance="outlined">
        <mat-card-content>
            <mat-toolbar class="actions-toolbar">
                <div class="route-stats">
                    @if(routeMeta?.distance_m){
                    <div class="stat-item">
                        <div class="stat-value">{{ getFormattedDistance() }}</div>
                        <div class="stat-label">Length</div>
                    </div>
                    }
                    <div class="stat-item">
                        <div class="stat-value">{{ (routeMeta?.ascent_m ?? 0) + (routeMeta?.descent_m ?? 0) }} m</div>
                        <div class="stat-label">Elevation gain</div>
                    </div>
                    <div class="stat-item">
                        <div class="stat-value">
                            @if(routeMeta?.round_trip){
                                <mat-icon class="icon">loop</mat-icon>
                            }@else{
                                <mat-icon class="icon">trending_flat</mat-icon>
                            }
                        </div>
                        <div class="stat-label">{{ routeMeta?.round_trip ? 'Loop' : 'Route' }}</div>
                    </div>
                </div>
                <div class="spacer"></div>
                <button matIconButton disabled>
                    <mat-icon>share</mat-icon>
                </button>
                <button (click)="download()" matIconButton>
                    <mat-icon>download</mat-icon>
                </button>
            </mat-toolbar>

            @if(routeMeta?.website ){
            <p class="info-item">
                Website:  <a [href]="routeMeta?.website" target="_blank">{{ routeMeta?.website }}</a>
            </p>
            }
            @if(routeMeta?.description){
            <p>
                {{ routeMeta?.description | striphtml }}
            </p>
            }
        </mat-card-content>
    </mat-card>
</div>