app-search-bar {
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 1.5rem;
    transform: translateX(-50%);
}

mat-drawer-container{
    width: 100vw;
    height: 100vh;
    mat-drawer{
        padding: 1.5rem;
        margin: 3rem 0;
        mat-toolbar{
            display: flex;
            .spacer{
                flex: 1;
            }
        }
    }
}